@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #f72c5b;
  display: flex;
  justify-content: center;
  align-items: center; /* Changed from align-content to align-items */
  height: 100vh; /* Added to ensure the body takes the full height of the viewport */
  margin: 0;
}
